.Teams {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 15px;
    align-items: center;
    overflow: hidden;
    background-color: rgb(0, 0, 59);
}

.Teams.Hidden {
    display: none;
}

.TeamWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.Team {
    grid-row: 1;
    grid-column: 1;
    background-color: rgb(22, 56, 211);
    color: rgb(205, 215, 255);
    border-radius: 10px;
    padding: 5px 0;
    font-weight: 600;
}

.Team>input,
.Score {
    all: unset;
    width: 180px;
    text-align: center;
}

.Team>input {
    background-color: rgb(20, 47, 170);
    border-radius: 15px;
    margin: 10px;
    padding: 16px 8px;
    font-size: 25px;
}

.Score {
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: rgb(255, 229, 83);
}
.Score input::before {
    content: "Read this: ";
  }

.Score>input {
    all: unset;
    box-sizing: border-box;
}

.Team>input[name="team-name"] {
}

.Team>input[name="team-score"] {
}

label {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 10px;
    margin-bottom: -8px;
    font-size: 18px;
}

.RemoveTeam {
    all: unset;

    grid-row: 1;
    grid-column: 1;
    margin-left: auto;
    padding: 10px;
    width: fit-content;
    height: fit-content;

    user-select: none;
    color: rgb(255, 113, 113);
    font-weight: 600;
    cursor: pointer;
    display: inline;
}

.AddTeam {
    all: unset;

    user-select: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(198, 216, 255);
    font-size: 40px;
}

.AddTeam:active {
    background-color: rgb(179, 194, 226);
}

.AnswerButtons {
    display: flex;
    width: auto;
    margin: 5px 10px;
    margin-bottom: 10px;
    justify-content: space-around;
    gap: 10px;
}

.WrongButton,
.RightButton {
    all: unset;
    cursor: pointer;
    user-select: none;
    width: 75px;

    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.WrongButton {
    background-color: #ff5555;
    color:  #ffffff;
}

.RightButton {
    background-color: #33cc33;
    color: white;
}